{% block media_row %}

    {{- block(form_widget) -}}

    {% for child in form.children|filter(child => not child.rendered) %}

        {% set class = '' %}

        {% if child.vars.name == 'picture' %}
            {% set class = 'picture_element' %}
        {% elseif child.vars.name == 'embed' %}
            {% set class = 'embed_element' %}    
        {% elseif child.vars.name == 'medias_choice' %}
            {% set class = 'medias_choice' %}        
        {% endif %}

        <div class="mb-3 {{ class }}">
            {{ form_label(child) }}
            {{ form_widget(child) }}
            {{ form_help(child) }}
            {{ form_errors(child) }}
            {% if child.vars.name != 'medias_choice' %}
                <button type="button" class="btn btn-danger delete_media"><i class="bi bi-trash"></i></button>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}