{% block embed_widget %}
    {% for child in form.children|filter(child => not child.rendered) %}
    <div class="row align-items-center embed-type {% if child.vars.value == null %}empty-input{% endif %}">
        {% if child.vars.value == null %}
            <div class="col-6 mb-3">
                {{ form_label(child) }}
                {{ form_widget(child, {
                    attr: {
                        class: 'pe-5'
                    }
                }) }}              
                {{ form_help(child) }}
                {{ form_errors(child) }}
            </div>
        {% else %}            
            <div class="col-3 embed-content">
                {{ child.vars.value | raw }}
            </div>        
        {% endif %}
        <div class="col">
            <button type="button" class="btn btn-danger delete_media"><i class="bi bi-trash"></i></button>  
        </div>
    </div>
    {% endfor %}
{% endblock %}