{# {% block picture_widget %}
    {% for child in form.children|filter(child => not child.rendered) %}
    <div class="row align-items-center">
        {% if child.vars.value == null %}
            <div class="col-6 mb-3">
                {{ form_label(child, 'Embed vidéo') }}
                {{ form_widget(child, {
                    attr: {
                        class: 'pe-5'
                    }
                }) }}              

                <div class="d-flex justify-content-center gap-2">
                </div>
                {{ form_help(child) }}
                {{ form_errors(child) }}
            </div>
        {% else %}            
            <div class="col-3 embed-content">
                {{ child.vars.value | raw }}
            </div>        
        {% endif %}
        <button type="button" class="btn btn-danger delete_media"><i class="bi bi-trash"></i></button>  
    </div>
    {% endfor %}
{% endblock %} #}