{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="row h-100">
		<div class="col-12 d-flex flex-column justify-content-center align-items-center">
			<h2 class="sign-title">Connexion</h2>
			<div id="sign-container">

				{% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
				{% endif %}

                
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                    {{ form_row(form._username, {label: 'Email'}) }}
                    {{ form_row(form._password, {label: 'Mot de passe'}) }}
                    <a href="{{ path('app_forgot_password') }}">Mot de passe oublié ?</a>
                    <div class="text-end">
                        {{ form_row(form.submit, {label: 'Connexion'}) }}
					</div>
                    <div class="text-center">
                        <a href="{{ path('app_signin') }}">Créer un compte</a>
					</div>
                {{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}
