{% extends 'base.html.twig' %}

{% block title %}{{ tricks.name }}{% endblock %}

{% block body %}
    
    {% include "components/_header_tricks.html.twig" with {tricks: tricks, editable: true} only %}

    <div id="trick-detail-container" class="row flex-nowrap pt-5 pb-2">
        {% for media in tricks.medias %}
            {% include "components/_card_tricks_detail.html.twig" with {media: media} only %}
        {% endfor %}
    </div>

    {% include "components/_button_border.html.twig" with {name: 'Voir plus de médias'} only %}

    <div class="container pt-4">
        <div class="row">
            <div class="col-12 pb-4">
                <p>{{ tricks.description }}</p>
            </div>
        </div>

        {% include "components/_description_tricks.html.twig" with {title: 'Date de création', value: tricks.createdAt|date("d/m/Y")} only %}
        {% include "components/_description_tricks.html.twig" with {title: 'Catégorie', value: tricks.groupStunt} only %}
        {% include "components/_description_tricks.html.twig" with {title: 'Date de modification', value: tricks.updatedAt|date("d/m/Y")} only %}

        <div class="row">
            <h3>Commentaires :</h3>
            <div class="col-12">
                {% if app.user != null %}
                    {{ form_start(form) }}
                    <div class="row align-items-end">
                        <div class="col-11">
                            {{ form_row(form.comment, { 'label': 'Votre commentaire :' }) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.submit, { 'label': 'Envoyer' }) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                {% else %}
                    <span class="text-warning">Pour poster un commentaire vous devez être connecté.</span>
                {% endif %}
            </div>
            <div id="comments-container" data-tricks="{{tricks.id}}">
                {% include "components/_comments.html.twig" with {comments: comments} only %}
            </div>
        </div>

        
        
        <div class="row py-4">
            {% include "components/_loader.html.twig" with {page: page, route:'app_comments'} %}
        </div>
    </div>


{% endblock %}

{% block script %}
    <script src="{{ asset('assets/js/comments_pagination.js') }}"></script>
{% endblock %}
