{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'app_add_tricks' %}
        Ajouter un nouveau tricks
    {% else %}
        Modifier un tricks
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">
        {% if app.request.attributes.get('_route') == 'app_edit_tricks' and tricks != null %}
            <div class="row">
                {% for media in tricks.medias %}            
                    <div class="col-2 image-trick-edit">
                        <img class="img-fluid" src="{{ asset('uploads/' ~ media.name) }}">
                        <div>                     
                            <a href="{{ path('app_header_media', {tricks_id: tricks.id, media_id: media.id})}}" data-media="{{ media.id }}" data-header data-token="{{ csrf_token('header' ~ tricks.id ~ media.id) }}"><i class="{% if media.header == true %}bi bi-heart-fill{% else %}bi bi-heart{% endif %}"></i></a>
                            <a href="{{ path('app_delete_media', {id: media.id})}}" data-delete data-token="{{ csrf_token('delete' ~ media.id) }}"><i class="bi bi-trash-fill"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">

                {{ form_start(formView) }}

                    {{ form_row(formView.name, { 'label': 'Nom de la figure' }) }}
                    {{ form_row(formView.description, { 'label': 'Description' }) }}
                    {{ form_row(formView.group_stunt, { 'label': 'Type de tricks' }) }}
                    {{ form_row(formView.libraries, { 'label': "Bibliothèque d'images" }) }}

                    <div class="text-end">
                        {{ form_row(formView.submit, { 'label': 'Envoyer' }) }}
                    </div>

                {{ form_end(formView) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ asset('assets/js/media.js') }}" defer async></script>
{% endblock %}
