{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'app_add_tricks' %}
        Ajouter un nouveau tricks
    {% else %}
        Modifier un tricks
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">

                {{ form_start(formView) }}

                    {{ form_row(formView.name, { 'label': 'Nom de la figure' }) }}
                    {{ form_row(formView.description, { 'label': 'Description' }) }}
                    {{ form_row(formView.group_stunt, { 'label': 'Type de tricks' }) }}
                    <div class="text-end">
                        {{ form_row(formView.submit, { 'label': 'Envoyer' }) }}
                    </div>

                {{ form_end(formView) }}
            </div>
        </div>
    </div>

    {# {% include "components/_header_tricks.html.twig" with {name: 'Slides', editable: true} only %} #}
{% endblock %}
