{% extends 'base.html.twig' %}

{% block title %}Hello CGUController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.name, { 'label': 'Nom de la figure' }) }}
        {{ form_row(form.description, { 'label': 'Description' }) }}
        {{ form_row(form.group_stunt, { 'label': 'Type de tricks' }) }}
        <div id="container-medias" data-index="{{form.medias|length > 0 ? form.medias|last.vars.name + 1 : 0}}" data-prototype="{{ form_widget(form.medias.vars.prototype)|e('html_attr') }}">
            <label class="mb-3">Médias</label>
            {% for media in form.medias %}
                {{ form_row(media) }}
            {% endfor %}
        </div>
        <button id="add_item_media" data-collection-holder-class="medias" class="btn btn-primary"><i class="bi bi-plus"></i></button>
        <div class="text-end">
            {{ form_row(form.submit, { 'label': 'Envoyer' }) }}
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block script %}
    <script src="{{ asset('assets/js/tricks_embed.js') }}"></script>
{% endblock %}
